.chip {
    background: var(--primary);
    padding: 0.25rem;
    border-radius: var(--border-radius);
    border: 0;
    transition: background 0.15s linear;
    font-size: 1em;
}

.chip:hover {
    cursor: pointer;
    background: var(--selection);
}

.chip.chipToggled {
    background: var(--selection-dark);
}