.mealBox {
    border-radius: 1rem;
    border: #999999 4px solid;
    border-style: dashed;
    color: #999999;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.food {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    padding: 1rem;
}

.mealBox.notEmpty {
    border-style: solid;
}

.addToMeal {
    background: transparent;
    font-size: 1.25em;
    color: #999999;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

@media only screen and (max-width: 750px) {
    .food {
        display: flex;
        flex-direction: column;
    }
}
